#newsletter-form label{
    display:block;
    font-size: 16px;
}
#newsletter-form input{
    border-bottom: 1px solid #e2e8f0;
    margin: 10px 0;
    padding: 0 0 3px 0;
    font-size: 15px;
    width: 100%;
}
#newsletter-form input:focus{
    outline: none;
}
#newsletter-form div{
    text-align:right;
}
#newsletter-form button{
    margin-top: 10px;
    padding: 8px 28px;
    cursor:pointer;
    transition: 0.2s;
}
#newsletter-form button:hover{
    background: #010017;
    color: white;
}
#loading img{
    width: 70px;
}
#loading{
    display:none;
    position: absolute;
    width:100%;
    height:100%;
    top: 0;
    left: 0;
}
.newsletter-container{
    position:relative;
    max-width: 326px;
}
#loading img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#result ul{
    margin: 10px 0 0 15px;
    padding: 0;
}
